<small>
  {% if not post.is_published %}
    <p class="text-danger">Пост снят с публикации админом</p>
  {% elif not post.category.is_published %}
    <p class="text-danger">Выбранная категория снята с публикации админом</p>
  {% endif %}
  {{ post.pub_date|date:"d E Y, H:i" }} | 
  {% if post.location and post.location.is_published %}
  {{ post.location.name }}
  {% else %}
    Планета Земля
  {% endif %}<br>
    От автора 
  <a class="text-muted" href="{% url 'blog:profile' post.author %}">
    @{{ post.author.username }}
  </a>
    в категории 
  {% include "includes/category_link.html" %}
</small>